@tailwind preflight;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Oswald';
  src: url('/static/fonts/Oswald/Oswald-Regular.ttf');
  src: url('/static/fonts/Oswald/Oswald-Bold.ttf');
  src: url('/static/fonts/Oswald/Oswald-SemiBold.ttf');
  src: url('/static/fonts/Oswald/Oswald-Light.ttf');
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('/static/fonts/Roboto_Slab/RobotoSlab-Bold.ttf');
  src: url('/static/fonts/Roboto_Slab/RobotoSlab-Light.ttf');
  src: url('/static/fonts/Roboto_Slab/RobotoSlab-Regular.ttf');
  src: url('/static/fonts/Roboto_Slab/RobotoSlab-Thin.ttf');
}

.header-img {
  background-image: url('/static/header-darker-sm.jpg');
  width: 100%;
  height: 60vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.social-media {
  @apply h-10 w-10 text-black cursor-pointer;
}

.gallery-puppy {
  margin: 6px;
}
